.App{
  padding-top: 20px;
  min-height: 100vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.App p{
  padding: 20px;
  font-size: 11px;
  color: black;
  text-align: center;
}
.htitle{
  margin: 0px auto;
  width: 37%;
}
.htitle h1{
  margin: 0px;
  text-align: center;
  color: white;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width:  50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: lightcoral;
  border:none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}


.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info{
  text-align: right;
  margin: 0px;
  padding: 0px;
  font-size: 6px;
  font-family: sans-serif;
  
}